body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #b71c1c;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#reloj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  min-height: 650px;
  border-radius: 16px;
  border-radius: 26px;
  background: linear-gradient(145deg, #c41e1e, #a51919);
  box-shadow: 5px 5px 10px #a31919, -5px -5px 10px #cb1f1f;
}

#container h4 {
  color: #b71c1c;
  margin-bottom: 20px;
  font-weight: 600;
}

#botones {
  display: flex;
  flex-direction: row;
  color: #f3e5f5;
}

#tiempo-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f3e5f5;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 5px 5px 9px #a71919, -5px -5px 9px #c71f1f;
}

#descanso-titulo {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#descanso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
}

#sesion-titulo {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#sesion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
  font-weight: 600;
}

#tiempo {
  font-size: 90px;
  font-weight: 700;
}

#start_stop {
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 6px 6px 11px #9d1818, -6px -6px 11px #d12020;
  margin-right: 10px;
}

#reset {
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  box-shadow: 6px 6px 11px #9d1818, -6px -6px 11px #d12020;
  margin-right: 10px;
}

#incremento-descanso {
  cursor: pointer;
}

#decremento-descanso {
  cursor: pointer;
}

#incremento-sesion {
  cursor: pointer;
}

#decremento-sesion {
  cursor: pointer;
}

#titulo {
  margin: 40px;
  min-width: 85%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ef5350;
}